<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880074737907-vp94l77mv0r33uavd6vln6fg8pkbfpkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880074737907-vp94l77mv0r33uavd6vln6fg8pkbfpkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880074737907-8nil9frpbam279c1isa4ke6reqj64epv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Igj3cu5UlVEyHJk42tssixn7JWqBaNw</string>
	<key>GCM_SENDER_ID</key>
	<string>880074737907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>franchose.restaurantstaff</string>
	<key>PROJECT_ID</key>
	<string>restaurantstaff-184ed</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantstaff-184ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880074737907:ios:b6e3ef3a7e1874c2310f86</string>
</dict>
</plist>